/* Adjusted chessboard size */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px); /* Increase width of each column by 50% */
    grid-template-rows: repeat(8, 80px); /* Increase height of each row by 50% */
    border: 20px solid #c6c0c0;
    margin: auto; /* Center the chessboard horizontally */
    position: absolute; /* Position the chessboard absolutely */
    top: 50%; /* Move the chessboard down by 50% of the viewport height */
    left: 50%; /* Move the chessboard right by 50% of the viewport width */
    transform: translate(-50%, -50%); /* Adjust the position to center the chessboard */
}

.chessboard div {
    width: 200%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
}

/* Define styles for white and black squares */
.white {
    background-color: #fffefd;
}

.black {
    background-color: #fba560; /* Adjust color as needed */
}

/* Style for chess pieces */
.piece {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Add styles for notations */
.notation {
    position: absolute;
    font-size: 10px; /* Adjust font size as needed */
    color: #180303; /* Adjust color as needed */
    top: 47px;
    right: 0px;
}

.row-number {
    position: absolute;
    font-size: 5px; /* Adjust font size as needed */
    color: #100303; /* Adjust color as needed */
    bottom: 0px;
    right: 47px;
}
